<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voika.auth.dao.menu.MMenuDao">
    <!-- 数据字典 -->
    <select id="dir" parameterType="com.voika.myundefined.dao.menu.po.MenuPO" resultType="com.voika.myundefined.dao.menu.po.MenuPO">
        select * from tb_menu
        where 1=1
        <if test="deleted != null">
            and deleted = #{deleted}
        </if>
        <if test="bizId != null">
            and biz_id = #{bizId}
        </if>
        <if test="parentId != null">
            and parent_id = #{parentId}
        </if>
        <if test="level != null">
            and level = #{level}
        </if>
    </select>

    <!-- 动态获取用户可见菜单 -->
    <select id="searchUserMenu" resultType="com.voika.myundefined.dao.menu.po.MenuPO">
        select *
        from tb_account_menu
        where account_biz_id = #{accountBizId}
          and deleted = 0
    </select>

    <!-- (权限)删除目标用户可见菜单 -->
    <delete id="deleteTargetUserMenu">
        delete
        from tb_account_menu
        where account_biz_id = #{accountBizId}
    </delete>
    <!-- (权限)编辑目标用户可见菜单 -->
    <insert id="updateTargetUserMenu">
        insert into tb_account_menu(biz_id, account_biz_id, checked_key, half_checked_key,is_new)
        values (#{po.bizId}, #{accountBizId}, #{po.checkedKey}, #{po.halfCheckedKey},#{po.isNew})
    </insert>

    <update id="updateIsNew">
        update tb_account_menu set is_new = #{isNew} where account_biz_id = #{accountBizId}
    </update>

    <!-- 插入桥表不为null -->
    <insert id="insertBridge" parameterType="com.voika.myundefined.dao.menu.po.MenuPO">
        insert into tb_account_menu(
        biz_id,
        account_biz_id
        <if test="checkedKey != null">
            ,checked_key
        </if>
        <if test="halfCheckedKey != null">
            ,half_checked_key
        </if>
        <if test="isNew != null">
            ,is_new
        </if>
        ) values(
        #{bizId},
        #{accountBizId}
        <if test="checkedKey != null">
            ,#{checkedKey}
        </if>
        <if test="halfCheckedKey != null">
            ,#{halfCheckedKey}
        </if>
        <if test="isNew != null">
            ,#{isNew}
        </if>
        )
    </insert>

</mapper>